!Cursor
Xcursor.theme: Paper
Xcursor.size: 10

!rxvt-unicode settings
URxvt.saveLines: 10000
URxvt.scrollBar: false
!URxvt.inheritPixmap: true
URxvt.transparent: false
!URxvt.tintColor: #262a35
!URxvt.tintColor: #202020
!URxvt.shading: 105

!transparency (only to black, no full transparency possible)
!Urxvt.depth: 32
!URxvt.background: rgba:2000/2000/2000/cccc
!
!URxvt.background: #262a35
!URxvt.background: #e5e5e5
!URxvt.foreground: #202020

URxvt.secondaryScroll: true
URxvt.font: xft:Source Code Pro:size=11:hinting=true:antialias:true, xft:Sauce Code Pro Nerd Font Mono:size11
!URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:hinting=true
URxvt.geometry: 88x28

!Coloring
! special
*.foreground:   #202020
*.background:   #e5e5e5
*.cursorColor:  #202020

! black
*.color0:       #282a2e
*.color8:       #bcbcbc

! red
*.color1:       #af0000
*.color9:       #d70000

! green
*.color2:       #008700
*.color10:      #00af0f

! yellow
*.color3:       #5f8700
*.color11:      #7800af

! blue
*.color4:       #0087af
*.color12:      #0098c5

! magenta
*.color5:       #878787
*.color13:      #d75f00

! cyan
*.color6:       #005f87
*.color14:      #005faf

! white
*.color7:       #444444
*.color15:      #005f87

