!Cursor
Xcursor.theme: Breeze-Obsidian
Xcursor.size: 10

!rxvt-unicode settings
URxvt.saveLines: 10000
URxvt.scrollBar: false
!URxvt.inheritPixmap: true
URxvt.transparent: false
!URxvt.tintColor: #262a35
!URxvt.tintColor: #202020
!URxvt.shading: 105

!transparency (only to black, no full transparency possible)
!Urxvt.depth: 32
!URxvt.background: rgba:2000/2000/2000/cccc
!
!URxvt.background: #262a35
URxvt.background: #202020
URxvt.foreground: #d5dad6

URxvt.secondaryScroll: true
!URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=12
!URxvt.font:xft:Noto Sans Mono Medium:pixelsize=12:hinting=true
!URxvt.font: xft:Source Code Pro Medium:pixelsize=13:hinting=true
URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:hinting=true
URxvt.geometry: 88x28

!Coloring
! special
*.foreground:  #d5dad6
!*.foreground: #d5dad6
!*.background:   #101112
!*.background:   #262a35
*.background: #202020
*.cursorColor: #d5dad6

! black
*.color0:       #282a2e
*.color8:       #40007e

! red
*.color1:       #00aa83
*.color9:       #00aa83

! green
*.color2:       #992020
*.color10:      #992020

! yellow
!*.color3:       #39097a
*.color3:       #6613d6
*.color11:      #00621d

! blue
*.color4:       #00383f
*.color12:      #05b8ce

! magenta
!*.color5:       #002366
*.color5:       #274e9b
*.color13:      #833600

! cyan
*.color6:       #006472
*.color14:      #009bb1

! white
*.color7:       #636262
*.color15:      #82bdb4
